/* FOR TABLETS AND LARGER SCREEN OR POTRAIT ORIENTATION */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .featured {
        width: 100%;
        display: grid;
        height: 70vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lead-article {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url('/images/cover.png');
        height: auto;
        background-size: cover;
        color: white;
        display: inline-block;
        text-align: start;
    }
    .featured-article {
        background-image: url('/images/cover1.png');
        height: auto;
        background-size: cover;
        color: white;
    }
    .featured-article:nth-of-type(2) {
        background-image: url('/images/cover2.png');
        height: auto;
        background-size: cover;
        color: white;
    }
    .funding-article {
        grid-column: span 1;
        height: 200px;
        width: 100%;
    }
    .latest {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .latest-article {
        grid-column: span 1;
        height: fit-content;
        color: white;
        width: 100%;
        padding: 2px;
        background-color: white;
    }
    .latest-article>img {
        max-width: 250px;
        height: 150px;
        padding: 0.5em 0;
    }
    .latest-article>a {
        color: white;
        text-decoration: none;
        padding: 3px;
    }
    .latest-article>a>h3 {
        color: #000;
        font-size: 0.9em;
        font-weight: 700;
    }
    .latest-article>a>h5 {
        color: #131313;
        font-size: 0.7em;
    }
    .categories {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .category {
        height: fit-content;
        color: white;
    }
    .category>ul {
        padding: 25px;
        list-style-image: url("/images/bullet.svg")
    }
    .category>ul>li {
        padding: 5px 0;
        color: #aaa;
        font-size: 0.8em;
    }
    .category-highlight {
        background-image: url("/images/cate2.jpg");
        width: 96%;
        min-height: 300px;
        background-size: cover;
        vertical-align: text-bottom;
    }
    .right-icons>i:nth-child(2) {
        display: none;
    }
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        background: linear-gradient(to right, #da1b7c, #f84221);
        min-width: 100px;
        height: 50px;
        align-self: flex-start;
    }
    .logo>img {
        width: 80px;
        zoom: 80%;
    }
    .right-icons {
        display: flex;
        justify-content: center;
    }
    .right-icons>i {
        width: 20px;
        padding: 10px;
        color: gray;
    }
    .right-icons>i:first-child {
        transform: rotate(90deg)
    }
    .menu-links {
        display: flex;
        align-items: center;
    }
    .menu-links>ul {
        list-style: none;
        text-decoration-color: gray;
        text-decoration: none;
    }
    .menu-links>ul>li {
        display: inline;
        padding: 0.5em;
    }
    .menu-links>ul>li>a {
        text-decoration: none;
        color: gray;
        font-size: 0.8em;
        font-family: Shentox, sans-serif;
    }
    .section-header {
        padding: 20px;
        color: #ff4422;
        font-size: 20px;
        font-weight: bolder;
        margin: 10px 0;
    }
    .notification {
        background-color: #ffdc33;
        font-size: 14px;
        font-weight: 200;
        height: 20px;
        display: flex;
        align-items: center;
    }
    .notification>p {
        padding: 15%;
    }
}