@font-face {
    font-family: Mija;
    src: url("https://d33wubrfki0l68.cloudfront.net/ac1833dce386eb55d8e105248ef9126622e8e3e9/03f2d/fonts/mijaregular/mija_regular-webfont.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/0e0910ceb0e2f9adffd9db31665dafa4ec5c10ff/7214b/fonts/mijaregular/mija_regular-webfont.woff") format("woff");
}

@font-face {
    font-family: Mija;
    src: url("https://d33wubrfki0l68.cloudfront.net/94691bb5497213e09480b17ef68446d2b85667e9/d58ec/fonts/mijabold/mija_bold-webfont.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/1d162cc7792bc1f04919a5a344b4082087b9e012/855b4/fonts/mijabold/mija_bold-webfont.woff") format("woff");
    font-weight: bold;
}


/* FOR SMALLER SCREENS <768PX */

@media only screen and (max-width: 768px) {
    .featured,
    .latest {
        width: 100%;
        justify-content: center;
    }
    .lead-article {
        display: block;
        height: 100px;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .featured-article,
    .latest-article,
    .funding-article,
    .category {
        display: block;
        height: fit-content;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .links {
        /* visibility: hidden; */
        display: none;
    }
    /* NAVIGATION */
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 2px solid brown;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        background: linear-gradient(to right, #DA1B7C, #F84221);
        min-width: 100px;
        height: 50px;
        align-self: flex-start;
    }
    .logo>img {
        width: 80px;
        zoom: 80%;
    }
    .right-icons {
        display: flex;
        justify-content: center;
    }
    .right-icons>i {
        width: 20px;
        padding: 10px;
        color: gray;
    }
    .right-icons>i:first-child {
        transform: rotate(90deg)
    }
    .menu-links {
        display: flex;
        align-items: center;
    }
    .menu-links>ul {
        list-style: none;
        text-decoration-color: gray;
        text-decoration: none;
    }
    .menu-links>ul>li {
        display: inline;
        padding: 0.5em;
    }
    .menu-links>ul>li>a {
        text-decoration: none;
        color: gray;
        font-size: 0.8em;
        font-family: Shentox, sans-serif;
    }
}


/* FOR TABLETS AND LARGER SCREEN OR POTRAIT ORIENTATION */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .featured {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lead-article {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .latest-article,
    .funding-article,
    .category {
        grid-column: span 1;
        height: fit-content;
        width: 100%;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .latest {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .categories {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .right-icons>i:nth-child(2) {
        display: none;
    }
    /* NAVIGATION */
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 2px solid brown;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        background: linear-gradient(to right, #DA1B7C, #F84221);
        min-width: 100px;
        height: 50px;
        align-self: flex-start;
    }
    .logo>img {
        width: 80px;
        zoom: 80%;
    }
    .right-icons {
        display: flex;
        justify-content: center;
    }
    .right-icons>i {
        width: 20px;
        padding: 10px;
        color: gray;
    }
    .right-icons>i:first-child {
        transform: rotate(90deg)
    }
    .menu-links {
        display: flex;
        align-items: center;
    }
    .menu-links>ul {
        list-style: none;
        text-decoration-color: gray;
        text-decoration: none;
    }
    .menu-links>ul>li {
        display: inline;
        padding: 0.5em;
    }
    .menu-links>ul>li>a {
        text-decoration: none;
        color: gray;
        font-size: 0.8em;
        font-family: Shentox, sans-serif;
    }
}


/* FOR LARGER SCREENS */

@media only screen and (min-width: 1024px) {
    .featured {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lead-article {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .latest-article,
    .funding-article,
    .category {
        grid-column: span 1;
        height: fit-content;
        width: 100%;
        color: #F84221;
        background-color: aqua;
        border: 1px solid red;
    }
    .latest {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .categories {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .right-icons>i:nth-child(2) {
        display: none;
    }
    /* NAVIGATION */
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 2px solid brown;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        background: linear-gradient(to right, #DA1B7C, #F84221);
        min-width: 100px;
        height: 50px;
        align-self: flex-start;
    }
    .logo>img {
        width: 80px;
        zoom: 80%;
    }
    .right-icons {
        display: flex;
        justify-content: center;
    }
    .right-icons>i {
        width: 20px;
        padding: 10px;
        color: gray;
    }
    .right-icons>i:first-child {
        transform: rotate(90deg)
    }
    .menu-links {
        display: flex;
        align-items: center;
    }
    .menu-links>ul {
        list-style: none;
        text-decoration-color: gray;
        text-decoration: none;
    }
    .menu-links>ul>li {
        display: inline;
        padding: 0.5em;
    }
    .menu-links>ul>li>a {
        text-decoration: none;
        color: gray;
        font-size: 0.8em;
        font-family: Shentox, sans-serif;
    }
}


/* GENERAL CONTENT */

.section-header {
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.featured-article {
    display: block;
    height: 100px;
    width: 100%;
    color: #F84221;
    background-color: aqua;
    border: 1px solid red;
}


/* FOOTER */

footer {
    background-color: transparent;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 16em;
}

.social {
    background-color: #131313;
    height: 62%;
}

.copyright {
    background-color: #000000;
    height: 38%;
}